    <div class="row darkBlueBody footer">
      <div class="col-md-12 text-center">
        <a class="fa fa-facebook-official fa-2x footerA" href="https://www.facebook.com/guymontowing/" target="_blank"> </a>
        <a class="fa fa-phone fa-2x footerA" href="/contact"></a>
        <!-- Add these links when they have pages
        <a class="fa fa-google-plus-official fa-2x btn" href=""></a>
        <a class="fa fa-twitter-square fa-2x btn"></a>
        <a class="fa fa-linkedin-square fa-2x btn"></a>--><br>
        <p><i class="fa fa-copyright"> 2017 all rights reserved</i></p>
        Worked with Guymon Towing? <a href="#"> Leave a review</a> about your experience.<br>
        This website was made by <a href="https://stacksplunker.com/about" target="_blank">Alex Cannon</a>
      </div>
    </div>
  </div>
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
  <%if(typeof jsDir !== 'undefined'){ %>
  <script src="<%=jsDir%>"></script>
  <%}%>
  </body>
</html>
