<%var pageTitle = "Contact - Guymon Towing"%>
<%include partials/header%>
<%include partials/navbar%>
<div class="row contactContentBody contact">
  <div class="col-md-12 text-center whiteText pageSection">
    <h1>Call us Today</h1>
    <%include partials/phoneContact%>
  </div>
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center whiteText pageSection contactOffset">
    <h1>Or, send us an email</h1>
    <h4>(guymontowing@gmail.com)</h4>
    <!--<form class="rounded text-left" action="mailto:alcnewnew2017@gmail.com/" method="post" target="_blank">
      <input class="rounded" type="text" placeholder="Enter title" name="subject"></input>
      <textarea class="rounded" type="text" placeholder="Enter content" name="body"></textarea>
      <i>I'll get back to you as soon as possible.</i>
      <input class="btn btn-primary" type="submit" value="Send Email"></input>
    </form>-->
  </div>
</div>

<%include partials/footer%>
