<%var pageTitle = "Home - Guymon Towing"%>
<% include partials/header%>
<% include partials/navbar %>
<div class="row">
  <div class="col-md-12 homeSection text-center">
    <div class="homeHeaderSection">
      <h1 class="text-center bigHeader">Guymon Towing</h1>
      <h1 class="text-center">Local. Affordable. Reliable.</h1>
    </div>
    <div class="rounded contactDiv inlineBlock dangerBody">
      <i class="fa fa-phone"></i> (970) 697-7514
    </div>
  </div>
</div>
<!--Homepage "content section"-->
<div class="row blueBody homeContent">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <!--Why Guymon Towing? section-->
    <div class="row">
      <div class="col-md-12 col-lg-8 offset-lg-2 bigFont pageSection">
        <h1 class="text-center subHeader">Towing Made Simple</h1>
        <p>With over <b><i>20 years</i> of experience in the automotive industry</b> and expertise in towing and rigging I am
          confident that your vehicle will be brought to the location of your choice without any unnecessary
          damage.</p>
        <p><b>I've worked as an automotive technician, service advisor, and the service manager</b> at a number of​ automotive shops in the
          Grand Junction area, so I understand what needs to happen to get you back on the road quickly and safely in your time of need.</p>
        <p>I pride myself on <b>excellent Customer Service</b>, Respect, Loyalty, Integrity, and Safety.</p>
      </div>
    </div>
    <hr>
    <!--Services section-->
    <div class="row">
      <div class="col-md-12 text-center pageSection">
        <h1 class="subHeader">Services</h1>
        <h6>I provide all aspects of light duty towing up to and including 1 ton trucks.</h6>
        <!--Services list-->
        <div class="row">
          <div class="col-md-6 col-lg-4 offset-lg-2">
            <ul class="servicesList">
              <li>Roadside assistance</li>
              <li>Fuel delivery</li>
              <li>Lock out</li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="servicesList">
              <li>Flat tire change</li>
              <li>Jump start</li>
              <li><a href="/services">Other services</a></li>
            </ul>
          </div>
        </div>
        <h3>All at affordable rates.</h3>
      </div>
    </div>
    <hr>
    <div class="text-center pageSection">
      <h1>Call us today</h1>
      <% include partials/phoneContact %>
      <h3>Or, shoot us an <a href="/contact">email</a></h3>
    </div>
  </div>
</div>
<% include partials/footer %>
