<%var pageTitle = "Services - Guymon Towing"%>
<%include partials/header%>
<%include partials/navbar%>
<div class="row servicesContentBody">
  <div class="col-md-12 whiteText text-center pageSection">
    <h1>Sometimes you need someone to care as much as you do</h1>
    <h2>Affordable Professional Towing</h2>
  </div>
  <!--Service blocks-->
  <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-2 servicesBlock rounded">
    <h3>Light Duty Towing</h3>
    <p>Light Duty Tow Service is towing disabled cars, trucks, and
      vans up to and including 1 ton trucks to a location of your choice.</p>
  </div>
  <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 servicesBlock rounded">
    <h3>Roadside Assistance</h3>
    <p>Emergency roadside assistance gets you back on the road safely
      and efficiently </p>
  </div>
  <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-2 servicesBlock rounded">
    <h3>Flat Tire Service</h3>
    <p>Flat tire service includes airing up a flat
      tire or installing spare tire, whichever is more efficient.</p>
  </div>
  <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 servicesBlock rounded">
    <h3>Fuel Delivery</h3>
    <p>Fuel delivery service when you find
      yourself on the side of the road out of fuel.</p>
  </div>
  <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-2 servicesBlock rounded">
    <h3>Jump Start</h3>
    <p>Jump start service is for a dead battery situation
      to get you to the nearest service center of your choice.</p>
  </div>
  <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 servicesBlock rounded">
    <h3>Lock Out</h3>
    <p>Lockout service when you lock keys in your
      vehicle by using the correct tools and no damage.</p>
  </div>
  <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-2 servicesBlock rounded">
    <h3>Customer Service</h3>
    <p>I pride myself on excellent Customer Service,
      Respect, Loyalty, Integrity, and Safety.</p>
  </div>
  <div class="col-md-12 text-center whiteText pageSection">
    <h1>Call us Today</h1>
    <%include partials/phoneContact%>
  </div>
  <!--<div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 servicesBlock rounded">
    <h3>sdfsdfsd</h3>
    <p></p>
  </div>-->
</div>
<%include partials/footer%>
